$fontsPath: '../../fonts';

$brSm: 8px;
$brMd: 10px;
$brLg: 12px;
$trDur: 0.3s;

// colors
$white: #FFFFFF;
$black: #010101;
$black2: #3D3D4B;
$black3: #83839E;
$blue: #0023A0;
$textUnActive: #A0A0A0;
$textMainUnActive: #5C687E;
$textMain: #181240;
$gray1: #DBDBE5;
$gray2: #F4F3F9;
$accent: #FB593B;
$advantageBg: #EDF4FF;