.packages {
    .package__title {
        text-align: center;
    }

    // .packages__title
    &__title {
        @include media-breakpoint-up(lg) {
            margin-bottom: torem(60);
        }

        margin-bottom: torem(30);
    }

    // .packages__list
    &__list {
        @include media-breakpoint-up(lg) {
            --bs-gutter-y: 30px;
        }
    }

    // .packages__info
    &__info {
        @include media-breakpoint-up(lg) {
            margin-top: torem(44);
            max-width: torem(716);
        }

        margin-top: torem(30);
        font-weight: 300;
        font-size: torem(14);
        line-height: torem(17);
    }
}