.header {
    // .header__top
    &__top {
        padding: torem(12) 0 torem(11);
        color: $white;
        font-size: torem(14);
        background-color: $black;
    }

    // .header__bottom
    &__bottom {
        display: flex;
        flex-direction: column;
        width: 100%;

        // padding: torem(11) 0;
        background-color: $white;
        color: $black;
    }

    // .header__logo
    &__logo {
        @include media-breakpoint-up(lg) {
            margin-right: torem(40);
        }

        color: $white;
        width: 136px;
        height: 20px;
    }

    // .header__description
    &__description {
        color: $gray1;
        font-size: torem(14);
    }
}
