.package {
    @include cardBackground;

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: torem(28) torem(24);

    .package__info + .package__extra {
        margin-top: torem(32);
    }

    // .package__span
    &__span {
        @include wideSpaceText;

        text-align: center;
        margin-bottom: torem(16);
    }

    // .package__title
    &__title {
        color: $blue;
        font-weight: 500;
        font-size: torem(20);
        margin-bottom: torem(24);
    }

    // .package__info
    &__info {
        flex-grow: 1;
    }

    // .package__included
    &__included {
        .package__list-item {
            span {
                &::after {
                    content: ";";
                }
            }
        }
    }

    // .package__include,
    // .package__arbitration
    &__included, &__arbitration {
        margin-bottom: torem(12);
    }

    // .package__footnote
    &__footnote {
        margin-top: torem(20);
        font-weight: 300;
        font-size: torem(14);
        line-height: torem(17);
    }

    // .package__price
    &__price {
        display: block;
        margin: torem(32) auto;
    }

    // .package__extra
    &__extra {
        margin-bottom: torem(32);
    }

    // .package__extra-item
    &__extra-item {
        font-weight: 500;
        font-size: torem(14);
        line-height: 145%;
        text-transform: uppercase;

        &::after {
            content: ";";
            font-weight: 700;
        }

        & + .package__extra-item {
            margin-top: torem(12);
        }
    }

    // .package__more
    &__more {
        @include wideSpaceText;

        text-align: center;
        margin-bottom: torem(20);
    }

    // .package__btn
    &__btn {
        max-width: torem(221);
        margin: 0 auto;
    }
}
