.deals {
    @include media-breakpoint-up(lg) {
        padding-bottom: torem(100);
    }

    background-color: #001c81;
    color: $white;
    padding-bottom: torem(48);

    // .deals__cards
    &__cards {
        @include media-breakpoint-up(lg) {
            --bs-gutter-x: 30px;
            --bs-gutter-y: 30px;

            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: calc(-0.5 * var(--bs-gutter-x));
            margin-left: calc(-0.5 * var(--bs-gutter-x));
            flex-wrap: wrap;
        }

        flex-wrap: nowrap;
        margin: 0;
        padding: 0;

        & > * {
            @include media-breakpoint-up(lg) {
                padding-right: calc(var(--bs-gutter-x) * 0.5);
                padding-left: calc(var(--bs-gutter-x) * 0.5);
                margin-top: var(--bs-gutter-y);
            }

            margin: 0;
            padding: 0;
        }
    }
}
